## Some guiding questions:
1. Do the height and weight columns have the appropriate data types?
2. Can you separate the joined column into year, month, and day columns?
3. Can you clean and transform the value, wage, and release clause columns into columns of integers?
4. How can you remove the newline characters from the Hits column?
5. Should you separate the Team & Contract column into separate team and contract columns?

In [426]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [427]:
df = pd.read_csv("fifa21 raw data v2.csv")

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18612\1369213445.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("fifa21 raw data v2.csv")

In [428]:
df.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,Contract,Positions,Height,Weight,Preferred Foot,BOV,Best Position,Joined,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,2004 ~ 2021,"RW, ST, CF",170cm,72kg,Left,93,RW,"Jul 1, 2004",NaN,€103.5M,€560K,€138.4M,429,85,95,70,91,88,470,96,93,94,91,96,451,91,80,91,94,95,389,86,68,72,69,94,347,44,40,93,95,75,96,91,32,35,24,54,6,11,15,14,8,2231,466,4 ★,4★,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,2018 ~ 2022,"ST, LW",187cm,83kg,Right,92,ST,"Jul 10, 2018",NaN,€63M,€220K,€75.9M,437,84,95,90,82,86,414,88,81,76,77,92,431,87,91,87,95,71,444,94,95,84,78,93,353,63,29,95,82,84,95,84,28,32,24,58,7,11,15,14,11,2221,464,4 ★,5★,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,2014 ~ 2023,GK,188cm,87kg,Right,91,GK,"Jul 16, 2014",NaN,€120M,€125K,€159.4M,95,13,11,15,43,13,109,12,13,14,40,30,307,43,60,67,88,49,268,59,78,41,78,12,140,34,19,11,65,11,68,57,27,12,18,437,87,92,78,90,90,1413,489,3 ★,1★,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,2015 ~ 2023,"CAM, CM",181cm,70kg,Right,91,CAM,"Aug 30, 2015",NaN,€129M,€370K,€161M,407,94,82,55,94,82,441,88,85,83,93,92,398,77,76,78,91,76,408,91,63,89,74,91,408,76,66,88,94,84,91,186,68,65,53,56,15,13,5,10,13,2304,485,5 ★,4★,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,2017 ~ 2022,"LW, CAM",175cm,68kg,Right,91,LW,"Aug 3, 2017",NaN,€132M,€270K,€166.5M,408,85,87,62,87,87,448,95,88,89,81,95,453,94,89,96,91,83,357,80,62,81,50,84,356,51,36,87,90,92,93,94,35,30,29,59,9,9,15,15,11,2175,451,5 ★,5★,High,Medium,5 ★,91,85,86,94,36,59,595

## Question 1
Do the height and weight columns have the appropriate data types?

In [429]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

In [430]:
# height and weight is not appropriate

### Cleaning Height and Weight Data
The height and weight columns initially contained non-numeric values ("cm" for height and "kg" for weight). To perform numerical analysis, we need to remove these units and convert the columns to numeric types.

### Height

In [431]:
df['Height'].unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '6\'2"', '164cm', '198cm', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"', '201cm', '158cm', '162cm', '161cm', '160cm', '203cm',
       '157cm', '156cm', '202cm', '159cm', '206cm', '155cm'], dtype=object)

In [432]:
# The height and weight columns contain feet/inches notation. These need to be cleaned and converted into numeric values for analysis

In [433]:
import re

height = ['6\'2"', '6\'3"', '6\'5"', '5\'11"',
       '6\'4"', '6\'1"', '6\'0"', '5\'10"', '5\'9"', '5\'6"', '5\'7"',
       '5\'4"']


for h in height:
    match = re.match(r"(\d+)'(\d+)\"", h)
    if match:
        feet = int(match.group(1))
        inches = int(match.group(2))
        cm = feet * 30.48 + inches * 2.54
        cm_rounded = round(cm)  
        print(f"{h}: {cm_rounded} cm")

6'2": 188 cm
6'3": 190 cm
6'5": 196 cm
5'11": 180 cm
6'4": 193 cm
6'1": 185 cm
6'0": 183 cm
5'10": 178 cm
5'9": 175 cm
5'6": 168 cm
5'7": 170 cm
5'4": 163 cm

In [434]:
df['Height'] = df['Height'].str.replace('6\'2"', "188cm")
df['Height'] = df['Height'].str.replace('6\'3"', "190cm")
df['Height'] = df['Height'].str.replace('6\'5"', "196cm")
df['Height'] = df['Height'].str.replace('5\'11"', "180cm")
df['Height'] = df['Height'].str.replace('6\'4"', "193cm")
df['Height'] = df['Height'].str.replace('6\'1"', "185cm")
df['Height'] = df['Height'].str.replace('6\'0"', "183cm")
df['Height'] = df['Height'].str.replace('5\'10"', "178cm")
df['Height'] = df['Height'].str.replace('5\'9"', "175cm")
df['Height'] = df['Height'].str.replace('5\'6"', "168cm")
df['Height'] = df['Height'].str.replace('5\'7"', "170cm")
df['Height'] = df['Height'].str.replace('5\'4"', "163cm")

In [435]:
df['Height'].unique()

array(['170cm', '187cm', '188cm', '181cm', '175cm', '184cm', '191cm',
       '178cm', '193cm', '185cm', '199cm', '173cm', '168cm', '176cm',
       '177cm', '183cm', '180cm', '189cm', '179cm', '195cm', '172cm',
       '182cm', '186cm', '192cm', '165cm', '194cm', '167cm', '196cm',
       '163cm', '190cm', '174cm', '169cm', '171cm', '197cm', '200cm',
       '166cm', '164cm', '198cm', '201cm', '158cm', '162cm', '161cm',
       '160cm', '203cm', '157cm', '156cm', '202cm', '159cm', '206cm',
       '155cm'], dtype=object)

In [436]:
df['Height'] = df['Height'].str.replace('cm', '')
df['Height'] = df['Height'].astype(int)

In [437]:
df['Height'].dtypes

dtype('int32')

### Weight

In [438]:
df['Weight'].unique()

array(['72kg', '83kg', '87kg', '70kg', '68kg', '80kg', '71kg', '91kg',
       '73kg', '85kg', '92kg', '69kg', '84kg', '96kg', '81kg', '82kg',
       '75kg', '86kg', '89kg', '74kg', '76kg', '64kg', '78kg', '90kg',
       '66kg', '60kg', '94kg', '79kg', '67kg', '65kg', '59kg', '61kg',
       '93kg', '88kg', '97kg', '77kg', '62kg', '63kg', '95kg', '100kg',
       '58kg', '183lbs', '179lbs', '172lbs', '196lbs', '176lbs', '185lbs',
       '170lbs', '203lbs', '168lbs', '161lbs', '146lbs', '130lbs',
       '190lbs', '174lbs', '148lbs', '165lbs', '159lbs', '192lbs',
       '181lbs', '139lbs', '154lbs', '157lbs', '163lbs', '98kg', '103kg',
       '99kg', '102kg', '56kg', '101kg', '57kg', '55kg', '104kg', '107kg',
       '110kg', '53kg', '50kg', '54kg', '52kg'], dtype=object)

In [439]:
import re

weight = ['183lbs', '179lbs', '172lbs', '196lbs', '176lbs', '185lbs',
          '170lbs', '203lbs', '168lbs', '161lbs', '146lbs', '130lbs',
          '190lbs', '174lbs', '148lbs', '165lbs', '159lbs', '192lbs',
          '181lbs', '139lbs', '154lbs', '157lbs', '163lbs']

weight_cleaned = [int(w.replace('lbs', '')) for w in weight]

for w in weight_cleaned:
    kg = w / 2.20462
    kg_rounded = round(kg)
    print(f"{w} lbs: {kg_rounded} kg")

183 lbs: 83 kg
179 lbs: 81 kg
172 lbs: 78 kg
196 lbs: 89 kg
176 lbs: 80 kg
185 lbs: 84 kg
170 lbs: 77 kg
203 lbs: 92 kg
168 lbs: 76 kg
161 lbs: 73 kg
146 lbs: 66 kg
130 lbs: 59 kg
190 lbs: 86 kg
174 lbs: 79 kg
148 lbs: 67 kg
165 lbs: 75 kg
159 lbs: 72 kg
192 lbs: 87 kg
181 lbs: 82 kg
139 lbs: 63 kg
154 lbs: 70 kg
157 lbs: 71 kg
163 lbs: 74 kg

In [440]:
df['Weight'] = df['Weight'].str.replace('183lbs', '83kg')
df['Weight'] = df['Weight'].str.replace('179lbs', '81kg')
df['Weight'] = df['Weight'].str.replace('172lbs', '78kg')
df['Weight'] = df['Weight'].str.replace('196lbs', '89kg')
df['Weight'] = df['Weight'].str.replace('176lbs', '80kg')
df['Weight'] = df['Weight'].str.replace('185lbs', '84kg')
df['Weight'] = df['Weight'].str.replace('170lbs', '77kg')
df['Weight'] = df['Weight'].str.replace('203lbs', '92kg')
df['Weight'] = df['Weight'].str.replace('168lbs', '76kg')
df['Weight'] = df['Weight'].str.replace('161lbs', '73kg')
df['Weight'] = df['Weight'].str.replace('146lbs', '66kg')
df['Weight'] = df['Weight'].str.replace('130lbs', '59kg')
df['Weight'] = df['Weight'].str.replace('190lbs', '86kg')
df['Weight'] = df['Weight'].str.replace('174lbs', '79kg')
df['Weight'] = df['Weight'].str.replace('148lbs', '67kg')
df['Weight'] = df['Weight'].str.replace('165lbs', '75kg')
df['Weight'] = df['Weight'].str.replace('159lbs', '72kg')
df['Weight'] = df['Weight'].str.replace('192lbs', '87kg')
df['Weight'] = df['Weight'].str.replace('181lbs', '82kg')
df['Weight'] = df['Weight'].str.replace('139lbs', '63kg')
df['Weight'] = df['Weight'].str.replace('154lbs', '70kg')
df['Weight'] = df['Weight'].str.replace('157lbs', '71kg')
df['Weight'] = df['Weight'].str.replace('163lbs', '74kg')

In [441]:
df['Weight'] = df['Weight'].str.replace('kg', '')
df['Weight'] = df['Weight'].astype(int)

In [442]:

df['Height'].dtypes

dtype('int32')

## Question 2
Can you separate the joined column into year, month, and day columns?

In [443]:
df['Joined'] = pd.to_datetime(df['Joined'])


df['year'] = df['Joined'].dt.year
df['month'] = df['Joined'].dt.month
df['day'] = df['Joined'].dt.day

df.drop('Joined', axis=1, inplace=True)

In [444]:
df[['year', 'month', 'year']].head()

   year  month  year
0  2004      7  2004
1  2018      7  2018
2  2014      7  2014
3  2015      8  2015
4  2017      8  2017

## Question 3
 Can you clean and transform the value, wage, and release clause columns into columns of integers?

In [445]:
df[['Value', 'Wage', 'Release Clause']].head()

     Value   Wage Release Clause
0  €103.5M  €560K        €138.4M
1     €63M  €220K         €75.9M
2    €120M  €125K        €159.4M
3    €129M  €370K          €161M
4    €132M  €270K        €166.5M

In [446]:
df[['Value', 'Wage', 'Release Clause']].dtypes

Value             object
Wage              object
Release Clause    object
dtype: object

In [447]:
def convert_money(value):
    value = value.replace('€', '')
    if 'M' in value:
        return int(float(value.replace('M', '')) * 1e6)
    elif 'K' in value:
        return int(float(value.replace('K', '')) * 1e3)
    return int(float(value))

df['Value'] = df['Value'].apply(convert_money)
df['Wage'] = df['Wage'].apply(convert_money)
df['Release Clause'] = df['Release Clause'].apply(convert_money)

In [448]:
df[['Value', 'Wage', 'Release Clause']].dtypes

Value             int64
Wage              int64
Release Clause    int64
dtype: object

In [449]:
df[['Value', 'Wage', 'Release Clause']].head()

       Value    Wage  Release Clause
0  103500000  560000       138400000
1   63000000  220000        75900000
2  120000000  125000       159400000
3  129000000  370000       161000000
4  132000000  270000       166500000

## Question 4
How can you remove the newline characters from the Hits column?

In [450]:
df['Hits'] = df['Hits'].str.replace('\n', '', regex=False)

## Question 5
Should you separate the Team & Contract column into separate team and contract columns?

In [451]:
df[['Club', 'Contract']]

                              Club     Contract
0             \n\n\n\nFC Barcelona  2004 ~ 2021
1                 \n\n\n\nJuventus  2018 ~ 2022
2          \n\n\n\nAtlético Madrid  2014 ~ 2023
3          \n\n\n\nManchester City  2015 ~ 2023
4      \n\n\n\nParis Saint-Germain  2017 ~ 2022
...                            ...          ...
18974           \n\n\n\nWuhan Zall  2018 ~ 2022
18975      \n\n\n\nOldham Athletic  2020 ~ 2021
18976           \n\n\n\nDerry City  2019 ~ 2020
18977     \n\n\n\nDalian YiFang FC  2020 ~ 2022
18978     \n\n\n\nDalian YiFang FC  2019 ~ 2023

[18979 rows x 2 columns]

In [452]:
# The Club and Contract columns are already separated, but the Club column contains unnecessary newline characters, 
# and the Contract column includes extra whitespace. Both columns should be cleaned

In [453]:


# Club
df['Club'] = df['Club'].str.replace('\n', '', regex=False)

# Contract
df[['Contract Start', 'Contract End']] = df['Contract'].str.split(' ~ ', expand=True)


df.drop('Contract', axis=1, inplace=True)

df.tail()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,Positions,Height,Weight,Preferred Foot,BOV,Best Position,Loan Date End,Value,Wage,Release Clause,Attacking,Crossing,Finishing,Heading Accuracy,Short Passing,Volleys,Skill,Dribbling,Curve,FK Accuracy,Long Passing,Ball Control,Movement,Acceleration,Sprint Speed,Agility,Reactions,Balance,Power,Shot Power,Jumping,Stamina,Strength,Long Shots,Mentality,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Defending,Marking,Standing Tackle,Sliding Tackle,Goalkeeping,GK Diving,GK Handling,GK Kicking,GK Positioning,GK Reflexes,Total Stats,Base Stats,W/F,SM,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits,year,month,day,Contract Start,Contract End
18974,247223,Xia Ao,Ao Xia,https://cdn.sofifa.com/players/247/223/21_60.png,http://sofifa.com/player/247223/ao-xia/210006/,China PR,21,47,55,Wuhan Zall,CB,178,66,Right,49,CB,NaN,100000,1000,70000,145,23,26,43,26,27,142,27,23,21,29,42,294,68,60,69,46,51,221,36,57,54,50,24,192,48,50,28,28,38,44,147,45,52,50,45,7,8,5,14,11,1186,255,2 ★,2★,Medium,Medium,1 ★,64,28,26,38,48,51,NaN,2018,7,13,2018,2022
18975,258760,B. Hough,Ben Hough,https://cdn.sofifa.com/players/258/760/21_60.png,http://sofifa.com/player/258760/ben-hough/210006/,England,17,47,67,Oldham Athletic,CM,175,65,Right,51,CAM,NaN,130000,500,165000,211,38,42,40,56,35,219,46,40,35,50,48,305,63,64,61,51,66,226,48,58,43,47,30,193,40,23,47,47,36,38,116,32,44,40,45,12,10,9,6,8,1315,281,2 ★,2★,Medium,Medium,1 ★,64,40,48,49,35,45,NaN,2020,8,1,2020,2021
18976,252757,R. McKinley,Ronan McKinley,https://cdn.sofifa.com/players/252/757/21_60.png,http://sofifa.com/player/252757/ronan-mckinley...,England,18,47,65,Derry City,CM,179,74,Right,49,CAM,NaN,120000,500,131000,200,30,34,43,54,39,207,43,39,31,47,47,290,59,66,51,47,67,242,45,52,50,54,41,230,56,42,47,43,42,43,121,33,43,45,48,13,12,6,6,11,1338,285,2 ★,2★,Medium,Medium,1 ★,63,39,44,46,40,53,NaN,2019,3,8,2019,2020
18977,243790,Wang Zhen'ao,Zhen'ao Wang,https://cdn.sofifa.com/players/243/790/21_60.png,http://sofifa.com/player/243790/zhenao-wang/21...,China PR,20,47,57,Dalian YiFang FC,RW,175,69,Right,48,ST,NaN,100000,2000,88000,215,45,52,34,42,42,194,51,35,31,31,46,254,62,55,50,33,54,235,56,45,46,48,40,190,31,25,42,46,46,45,100,26,32,42,55,14,12,9,8,12,1243,271,3 ★,2★,Medium,Medium,1 ★,58,49,41,49,30,44,NaN,2020,9,22,2020,2022
18978,252520,Zhou Xiao,Xiao Zhou,https://cdn.sofifa.com/players/252/520/21_60.png,http://sofifa.com/player/252520/xiao-zhou/210006/,China PR,21,47,57,Dalian YiFang FC,"CB, LB",188,75,Left,50,LB,NaN,100000,1000,79000,163,40,18,40,45,20,171,40,33,20,40,38,279,60,63,57,47,52,231,37,66,60,55,13,185,45,47,33,33,27,33,136,45,46,45,50,10,11,7,10,12,1215,265,3 ★,2★,Medium,Medium,1 ★,62,22,39,42,45,55,NaN,2019,7,29,2019,2023